#color{
  background-color: #09a85e;
  height: 800px;
  padding-top: 50px;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: #e4f0ef;
  margin: 0;
  padding: 0;
}
#back{
  background-color: #A8F0EF;
}

#container {
  width: 800px;
  margin: 20px auto;
  background-color: white;
  border: 3px solid #c6e8e4;
  padding: 10px;
}

#header {
  text-align: right;
  color: #3ca8a8;
  border-bottom: 3px solid #c6e8e4;
  padding: 10px;
}

#header h1 {
  margin: 0;
  font-size: 28px;
}

#subtitle {
  margin: 0;
  font-size: 14px;
  color: #69bfbf;
}

#maincontent {
  display: flex;
  padding: 10px;
}

#friends {
  width: 180px;
  height: 130px;
  background-color: #5dd0cc;
  padding: 10px;
  border: 2px solid #3ca8a8;
  margin-right: 15px;
}

#friends h2 {
  font-size: 20px;
  color: #2c8686;
  border-bottom: 2px solid #2c8686;
  margin-top: 0;
  margin-bottom: 10px;
}

#friends ul {
  padding-left: 20px;
}
#First{
font-size: small;
color: red ;
}
#Second{
  font-size: small;
  color: white;
}
#Third{
font-size: small;
color: red;
}
   
#entry1, #entry2 {
  background-color: #e4f9f8;
  border: 2px solid #c6e8e4;
  margin-bottom: 15px;
  padding: 10px;
}

#entry1 h3, #entry2 h3 {
  color: #00a6a6;
  font-size: 18px;
  margin-top: 0;
  border-bottom: 2px dashed #00a6a6;
  padding-bottom: 4px;
}
#entry1content img, #entry2content img {
  width: 100px;
  height: auto;
  border: 2px solid #ccc;
}
  


#entry1content, #entry2content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#entry1content p, #entry2content p {
  width: 75%;
  color: #7a6666;
  line-height: 1.5;
  margin: 0;
}

